header {
    width: 100%;
    background-color:#4ea0ff;
    display: flex;
    align-items: flex-end;
    height:200px;
    background-image: url(..//img/pattern.png);
} 
#logo {
    width:25%;
    display: flex;
}
.grey {
    color: grey;margin: 1px;
}
.blue {
    color: cornflowerblue;    
}
.titolo {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 15px;
}
.autore-data{
    margin-bottom: 10px;
}
.data {
    font-size: 10px;}
ul  {
    padding-left: 15px;
}
thead {
    background-color: blue;
    color: white;
}
table {
    border-collapse: collapse;
    width:100%;
}
.riga{
    width: 25%;
}
th {text-align: left;}
.light{
    background-color: lightskyblue;
}
.fotodicoda{
width:312px;
height:208px;
background-size: cover;
margin: 5px;
color: white;
font-size: 22px;
font-weight: 600;}
.uno{
    background-image: url(..//img/monitor.jpg);
    }
.due{
    background-image: url(../img/graph.jpg);    
}
.lorem {
    padding: 5%;}